.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.row-even td p, .row-odd td p {
    // font-size: 12.8px;
}

.wy-side-nav-search {
    background-color: #8fcbda;
}
.caption-text {
    color: #444;
}
.wy-menu .caption-text {
color: #fff;}

code.docutils.literal {
    color: black;
}

div[class^='highlight'] pre, .highlight pre, pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
table.docutils td, .rst-content table.field-list td, .wy-table th, .rst-content table.docutils th, .rst-content table.field-list th {
    // font-size: 80% !IMPORTANT;
}

.wy-table td p, .rst-content table.docutils td p, .rst-content table.field-list td p {
    line-height: normal;
    font-size: 10pt;
}


